<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="store" class="com.huihui.aligo.model.Store">
        <property name="name" value="一号店铺"/>
        <property name="address" value="浙江省杭州市"/>
        <property name="code" value="storeCode001"/>
    </bean>

    <bean id="user" class="com.huihui.aligo.model.User">
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="sex" value="男"/>
    </bean>

</beans>